@inherits LayoutComponentBase

<PageTitle>CryptoWebsite</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://github.com/brennanmulcahy/CryptoWebApp" target="_blank">GitHub Source Code</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
